rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /contacts/{document=**} {
      allow read, write: if true;
    }
    
    // Default rule for other collections
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
